<nav class="navbar navbar-dark bg-info mb-5">
  <a class="navbar-brand" href="/">ANGULAR WEATHER APPLICATION</a>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/corneliouzbett/bett-weather-app" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/corneliouzbett" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>
